body {
	margin:0;
}
	@font-face {
		font-family:ReggaeOne-one;
		src: url('ReggaeOne-Regular.ttf');
	}
	@font-face {
		font-family:roboto-B;
		src: url('Roboto-Black.ttf');
	}
	@font-face {
		font-family:Koruri-Regular;
		src: url('Koruri-Regular.ttf');
	}
	a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}
@keyframes fade { /*漸漸上色*/
		0% {
			opacity:1;
		}
		50% {
			opacity:0.5;
		}
		100% {
			opacity:0;
		}
	}